<a href="https://colab.research.google.com/github/Jaeeik-Lee/2024-intro-DA-code/blob/main/w02_3_python_data_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
lst = [10, 20, 30]
print(lst, type(lst))

[10, 20, 30] <class 'list'>

In [2]:
list(['java', 'python', 'R'])

['java', 'python', 'R']

In [3]:
print(list(range(5)))
print(list(range(1, 10, 2)))

[0, 1, 2, 3, 4]
[1, 3, 5, 7, 9]

In [4]:
lst = [1, 3.92, 3 > 4, 'list']
print(lst[0], lst[2])

1 False

In [5]:
lst[2:4]

[False, 'list']

In [6]:
print(lst[2:])
print(lst[:4])
print(lst[-1:-4:-1])

[False, 'list']
[1, 3.92, False, 'list']
['list', False, 3.92]

In [30]:
import math as m
a = [m.pi, 30, 10 > 4, 'list', lambda x: x**3]
a. append('py')
a

[3.141592653589793, 30, True, 'list', <function __main__.<lambda>(x)>, 'py']

In [31]:
def add2(x, y):
  return x + y

a.insert(1, add2)
a[1](10, 20)

30

In [32]:
a

[3.141592653589793,
 <function __main__.add2(x, y)>,
 30,
 True,
 'list',
 <function __main__.<lambda>(x)>,
 'py']

In [33]:
a.remove(30)

In [34]:
a.pop()

'py'

In [35]:
a

[3.141592653589793,
 <function __main__.add2(x, y)>,
 True,
 'list',
 <function __main__.<lambda>(x)>]

In [37]:
my_list = [x for x in range(10)]
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
[x for x in range(10) if x%2 == 1]

[1, 3, 5, 7, 9]

In [40]:
['even' if i%2 == 0 else 'odd' for i in range(1, 11)]

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [41]:
[[i for j in range(5)] for i in range(3)]

[[0, 0, 0, 0, 0], [1, 1, 1, 1, 1], [2, 2, 2, 2, 2]]

In [42]:
[[j for j in range(i, i+6)] for i in range(3)]

[[0, 1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 6], [2, 3, 4, 5, 6, 7]]

In [43]:
mart = {'라면':1200, '음료수':1500, '과자':800}
print(mart, type(mart))

{'라면': 1200, '음료수': 1500, '과자': 800} <class 'dict'>

In [44]:
print(mart['라면'])
print(mart['과자'])
print(mart['음료수'])

1200
800
1500

In [45]:
data = {1: '일', 3.14: 2.71, (1, 2): '튜플', 'list': [1, 2, 3]}
data

{1: '일', 3.14: 2.71, (1, 2): '튜플', 'list': [1, 2, 3]}

In [46]:
data = {1: '일', 3.14: 2.71, [1, 2]: '리스트', 'list': [1, 2, 3]}

TypeError: unhashable type: 'list'

In [47]:
f_cnt = dict((('apple', 2), ('banana', 5), ('orange', 3)))
f_cnt

{'apple': 2, 'banana': 5, 'orange': 3}

In [48]:
f_price = dict(apple=4000, banana=3000, orange=2000)
f_price

{'apple': 4000, 'banana': 3000, 'orange': 2000}

In [49]:
mart = {'라면': 1200, '음료수': 1500, '과자': 800}
mart['삼각김밥'] = 1700
mart

{'라면': 1200, '음료수': 1500, '과자': 800, '삼각김밥': 1700}

In [50]:
mart['과자'] = 900
mart

{'라면': 1200, '음료수': 1500, '과자': 900, '삼각김밥': 1700}

In [51]:
mart.keys()

dict_keys(['라면', '음료수', '과자', '삼각김밥'])

In [54]:
mart.values()

dict_values([1200, 1500, 900, 1700])

In [55]:
mart.items()

dict_items([('라면', 1200), ('음료수', 1500), ('과자', 900), ('삼각김밥', 1700)])

In [56]:
tp1 = 1, 2, 3
tp2 = (10, 20, 30)
print(tp1, tp2)

(1, 2, 3) (10, 20, 30)

In [57]:
tp3 = tuple((10, 20, 30))
tp4 = tuple(['py', 'R'])
print(tp3, tp4)

(10, 20, 30) ('py', 'R')

In [58]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
concatenated_tuple

(1, 2, 3, 4, 5, 6)

In [59]:
basket = {'apple', 'orange', 'apple', 'pear'}
basket

{'apple', 'orange', 'pear'}

In [60]:
len(basket)

3

In [61]:
print('grape' in basket)
print('apple' in basket)

False
True

In [62]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6, 7}
print(A.union(B))             # 합집합
print(A.intersection(B))      # 교집합
print(A.difference(B))      # 차집합
print(B.difference(A))      # 차집합
print(A.symmetric_difference(B)) # 여집합

{1, 2, 3, 4, 5, 6, 7}
{3, 4}
{1, 2}
{5, 6, 7}
{1, 2, 5, 6, 7}

In [64]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6, 7}
print(A | B)  # 합집합
print(A & B)  # 교집합
print(A - B)  # 차집합
print(B - A)  # 차집합
print(A ^ B)  # 여집합

{1, 2, 3, 4, 5, 6, 7}
{3, 4}
{1, 2}
{5, 6, 7}
{1, 2, 5, 6, 7}

In [65]:
basket = {'apple', 'orange', 'apple', 'pear'}
basket.add('banana')
basket

{'apple', 'banana', 'orange', 'pear'}

In [66]:
myset = {0}
print(myset)
myset.add([1, 2]) # 오류

{0}

TypeError: unhashable type: 'list'

In [67]:
myset = {0}
myset.add((1, 2))
myset

{(1, 2), 0}

In [68]:
myset.remove(0)
myset

{(1, 2)}

In [70]:
print(hash([1, 2, 3]))

TypeError: unhashable type: 'list'

In [71]:
print(hash({'one':1}))

TypeError: unhashable type: 'dict'

In [72]:
print(hash('py'), hash((1, 2)))

3338866030132946659 -3550055125485641917

In [73]:
help(id)

Help on built-in function id in module builtins:

id(obj, /)
    Return the identity of an object.

    This is guaranteed to be unique among simultaneously existing objects.
    (CPython uses the object's memory address.)

In [75]:
x, y = 10, 10
print(id(x), id(y))

138361206440464 138361206440464